<a href="https://colab.research.google.com/github/mahinkhan1408/NID-Data-extraction-project/blob/main/(2)_Data_Manipulation_and_agression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv('/content/ESUS 500 data.csv')
print(df)

        Status                WO #      Work Type  Client State  Date Due  \
0    Cancelled          1061203253   Snow Removal    9102    IL  02-06-25
1    Cancelled          1061201299   Snow Removal    9102    IL  01-31-25
2    Cancelled          1061199149   Snow Removal    9102    IL  01-22-25
3    Cancelled          1061197921   Snow Removal    9102    WI  01-17-25
4       Closed          1061196387   Snow Removal    9102    IL  01-11-25
..         ...                 ...            ...     ...   ...       ...
495     Closed  101992- Electrical  Turn Estimate    2115    IN  05-15-24
496     Closed      101992- Stairs  Turn Estimate    2115    IN  05-15-24
497     Closed         00579946-BA    OM Approval    9111    AL  05-15-24
498  Cancelled              215017    OM Estimate    6609    PA  05-15-24
499     Closed     453149587-IS-Z1      Misc.Work    9106    MS  05-15-24

    Ready Office Date Received         Category Customer        Loan #  \
0            NaN      02-06-24  Ready To Assign      271    ######2682
1            NaN      01-31-24  Ready To Assign      271    ######3462
2       04-01-24      01-22-24  Ready To Assign      251    ######7315
3       04-01-24      03-19-24  Ready To Assign      271    ######9863
4       01-22-24      01-11-24  Ready To Assign      251    ######7315
..           ...           ...              ...      ...           ...
495     05-16-24      05-13-24             RUSH      NaN           NaN
496     05-14-24      05-13-24             RUSH      NaN           NaN
497     05-24-24      05-13-24             RUSH      NaN           NaN
498          NaN      05-13-24              NaN      NaN           NaN
499     05-21-24      05-13-24  Ready To Assign      NaN  0680668209-0

                Address             City    Zip          Contractor  \
0     8421 S Paulina St          Chicago  60620       Emmanuel Sosa
1      1224  Landon Ave  Winthrop Harbor  60096       Emmanuel Sosa
2       409  Prairie St         Kirkland  60146  Brandi Covarrubias
3     506 S Indiana Ave        West Bend  53095             Jacob R
4       409  Prairie St         Kirkland  60146  Brandi Covarrubias
..                  ...              ...    ...                 ...
495   4688 Briarwood Dr         Newburgh  47630         Theo Tafhim
496   4688 Briarwood Dr         Newburgh  47630         Theo Tafhim
497  1723 6th Pl Cir NW     Center Point  35215            Samuel H
498  1508 Brookstone Pl       Hellertown  18055            Amilia T
499    110 MAGNOLIA CIR          JACKSON  39209      Sylvia Preston

           Admin  Photos
0            NaN       0
1            NaN       0
2            NaN       0
3            NaN       0
4            NaN      28
..           ...     ...
495  Theo Tafhim       2
496  Theo Tafhim       3
497          NaN      14
498      Sunny A       1
499          NaN      62

[500 rows x 17 columns]

In [3]:
new_df= df.groupby('Status')['Client'].count()
print(new_df)

Status
Cancelled                37
Closed                  233
Follow Up                 3
In Field                148
Invoiced                  9
Ready for Office         15
Ready for Office (2)      4
Unassigned               13
Unread                   38
Name: Client, dtype: int64

In [4]:
Clientreport= df.groupby('Client')['WO #'].count()
print(Clientreport)

Client
1102      1
1108     15
1111     24
1114      4
1115      6
2103      6
2115     32
2117      6
3303     11
3306      8
3311     34
6601      1
6604      2
6609      5
6611      5
6616     24
7502      4
7503      2
7506     23
7507     17
7509      1
9102    192
9103     31
9104     20
9106      8
9111      9
9115      7
9118      2
Name: WO #, dtype: int64

In [7]:
 new_df.aggregate(['sum','min'])

sum    500
min      3
Name: Client, dtype: int64

**JOIN 2 dataset**

In [ ]:
new_file = pd.read_csv('NEW DF')
merged_data = pd.merge(new_df,new_file, on= ' A COLUMN NAME')
print(merged_data)