<a href="https://colab.research.google.com/github/mahinkhan1408/NID-Data-extraction-project/blob/main/pandas_datacleaning_and_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

df= pd.read_csv('/content/retail_sales.csv')
print(df)

         Date    Product  Quantity  Sales
0  2023-01-01  Product A         5     50
1  2023-01-01  Product B         2     40
2  2023-01-02  Product A         7     70
3  2023-01-02  Product C         3     90
4  2023-01-03  Product B         4     80
5  2023-01-03  Product C         2     60
6  2023-01-04  Product A         1     10
7  2023-01-04  Product B         1     20

In [2]:
# dropna() will remove all the rows with empty cell.

new_df= df.dropna()
print(new_df.to_string())

         Date    Product  Quantity  Sales
0  2023-01-01  Product A         5     50
1  2023-01-01  Product B         2     40
2  2023-01-02  Product A         7     70
3  2023-01-02  Product C         3     90
4  2023-01-03  Product B         4     80
5  2023-01-03  Product C         2     60
6  2023-01-04  Product A         1     10
7  2023-01-04  Product B         1     20

In [23]:
#lets check it again with a null cell
import csv
data = [[12,13,14,5],[12,12,12],[14,14,16,15]]
with open('/content/retail_sales.csv', mode='a') as newdf:
  csv_writer= csv.writer(newdf)
  csv_writer.writerows(data)

open('/content/retail_sales.csv', mode='r')


import pandas as pd

new= pd.read_csv('/content/retail_sales.csv')

print(new)

    12  13  14     5
0   12  12  12   NaN
1   14  14  16  15.0
2   12  13  14   5.0
3   12  12  12   NaN
4   14  14  16  15.0
5   12  13  14   5.0
6   12  12  12   NaN
7   14  14  16  15.0
8   12  13  14   5.0
9   12  12  12   NaN
10  14  14  16  15.0

In [24]:
print(new.to_string())

    12  13  14     5
0   12  12  12   NaN
1   14  14  16  15.0
2   12  13  14   5.0
3   12  12  12   NaN
4   14  14  16  15.0
5   12  13  14   5.0
6   12  12  12   NaN
7   14  14  16  15.0
8   12  13  14   5.0
9   12  12  12   NaN
10  14  14  16  15.0

In [26]:
nonullcell = new.dropna()
print(nonullcell)

    12  13  14     5
1   14  14  16  15.0
2   12  13  14   5.0
4   14  14  16  15.0
5   12  13  14   5.0
7   14  14  16  15.0
8   12  13  14   5.0
10  14  14  16  15.0

In [30]:
new.fillna(100, inplace=True)  #inplace means , we dont need to create a new dataframe , value will
#be updated in the existinf dataframe

print(new)

    12  13  14      5
0   12  12  12  100.0
1   14  14  16   15.0
2   12  13  14    5.0
3   12  12  12  100.0
4   14  14  16   15.0
5   12  13  14    5.0
6   12  12  12  100.0
7   14  14  16   15.0
8   12  13  14    5.0
9   12  12  12  100.0
10  14  14  16   15.0

In [34]:
df= pd.read_csv('/content/sample_data/california_housing_train.csv')
print(df)

# to replace the null in specific column we will do the below thing

df["longitude"].fillna(420,inplace = True)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

In [35]:
#to remove the duplite rows

df_new= df.drop_duplicates()

In [ ]:
#change format in the columns using function

df["order_date"] = pd.to_datetime(df["order_date"], format = '%d%m%y', errors='ignore')

###( errors='ignore': This argument tells the function to ignore errors.
# If there are any values in the order_date column that cannot be converted to a
# datetime format, they will be left as they are without raising an error.

#other values will be converted to the given format